.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  padding: 10px 16px;
  color: white;
  background-color: #FF6B35;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
