<div class="dialog-backdrop">
  <div class="dialog">
    <div class="title">
      <p>{{ 'assignments.createAssignmentDialog.title' | translate }}</p>
    </div>

    <div class="code">
      @if (createdAssigment){
        <ng-container>
          <p class="code-highlight">{{ 'assignments.createAssignmentDialog.code' | translate }} {{ createdAssigment.assignmentCode }}</p>
        </ng-container>
      } @else {
        <ng-template>
          <p class="loading">{{ 'assignments.createAssignmentDialog.loading' | translate }}</p>
        </ng-template>
      }
    </div>

    <div class="code" style="margin-top: 10px">
      <p>{{ 'assignments.createAssignmentDialog.shareMessage' | translate }}</p>
    </div>

    <div class="btn-container">
      <button (click)="onClose()" class="close-btn">{{ 'assignments.createAssignmentDialog.closeButton' | translate }}</button>
    </div>
  </div>
</div>
