<div class="metric-card" (click)="emitMetricSelectedEvent()">

  <!-- Header -->
  <div class="card-header">
    <h3 class="vehicle-title">{{ 'metrics.vehicle' | translate }}: {{ getVehicle().model?.name }} ({{getVehicle().owner?.completeName}})</h3>
    <span class="status-badge" [class.impact]="wellnessMetric().impactDetected">
      {{ wellnessMetric().impactDetected ? ('metrics.impactDetected' | translate) : ('metrics.normalState' | translate) }}
    </span>
  </div>

  <!-- Content -->
  <div class="card-content">
    <!-- Ubicación -->
    <div class="data-section">
      <h4 class="section-title">{{ 'metrics.gpsLocation' | translate }}:</h4>
      <div class="data-grid">
        <div class="data-item">
          <span class="data-label">{{ 'metrics.latitude' | translate }}:</span>
          <span class="data-value">{{ wellnessMetric().latitude }}°</span>
        </div>
        <div class="data-item">
          <span class="data-label">{{ 'metrics.longitude' | translate }}:</span>
          <span class="data-value">{{ wellnessMetric().longitude }}°</span>
        </div>
      </div>
    </div>

    <!-- Calidad del Aire -->
    <div class="data-section">
      <h4 class="section-title">{{ 'metrics.airQuality' | translate }}</h4>
      <div class="data-grid">
        <div class="data-item">
          <span class="data-label">{{ 'metrics.co2' | translate }}:</span>
          <span class="data-value">{{ wellnessMetric().CO2Ppm }} ppm</span>
        </div>
        <div class="data-item">
          <span class="data-label">{{ 'metrics.nh3' | translate }}:</span>
          <span class="data-value">{{ wellnessMetric().NH3Ppm }} ppm</span>
        </div>
        <div class="data-item">
          <span class="data-label">{{ 'metrics.benzene' | translate }}:</span>
          <span class="data-value">{{ wellnessMetric().BenzenePpm }} ppm</span>
        </div>
      </div>
    </div>

    <!-- Condiciones Ambientales -->
    <div class="data-section">
      <h4 class="section-title">{{ 'metrics.environmentalConditions' | translate }}</h4>
      <div class="data-grid">
        <div class="data-item">
          <span class="data-label">{{ 'metrics.temperature' | translate }}:</span>
          <span class="data-value">{{ wellnessMetric().temperatureCelsius }} °C</span>
        </div>
        <div class="data-item">
          <span class="data-label">{{ 'metrics.humidity' | translate }}:</span>
          <span class="data-value">{{ wellnessMetric().humidityPercentage }} %</span>
        </div>
      </div>
    </div>

    <div class="data-section">
      <h4 class="section-title">{{ 'metrics.statusImpact' | translate }}</h4>
      <div class="data-item">
        <span class="data-label">{{ 'metrics.pressure' | translate }}:</span>
        <span class="data-value">{{ wellnessMetric().pressureHpa }} hPa</span>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="card-footer">
    <div class="data-item">
      <span class="data-label">{{ 'metrics.emittedAt' | translate }}:</span>
      <span class="data-value">{{ wellnessMetric().registeredAt | date:'dd/MM/yyyy HH:mm' }}</span>
    </div>
  </div>

</div>
