<div class="min-h-screen flex items-center justify-center">
  <div class="min-w-1/2">
    <div class="flex justify-center p-5">
      <p class="font-bold text-4xl">Sign Up</p>
    </div>
    <div>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()"
            class="flex flex-col items-center gap-2">
        <div class="flex w-full ">
          <mat-form-field class="w-full">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required />
            @if (isInvalidControl(signUpForm, 'firstName')) {
              {{ errorMessagesForControl(signUpForm, 'firstName') }}
            }
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required />
            @if (isInvalidControl(signUpForm, 'lastName')) {
              {{ errorMessagesForControl(signUpForm, 'lastName') }}
            }
          </mat-form-field>
        </div>
        <mat-form-field class="w-full">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required />
          @if (isInvalidControl(signUpForm, 'username')) {
            {{ errorMessagesForControl(signUpForm, 'username') }}
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" required />
          @if (isInvalidControl(signUpForm, 'email')) {
            {{ errorMessagesForControl(signUpForm, 'email') }}
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Photo URL</mat-label>
          <input matInput formControlName="photoUrl" required />
          @if (isInvalidControl(signUpForm, 'photoUrl')) {
            {{ errorMessagesForControl(signUpForm, 'photoUrl') }}
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
          @if (isInvalidControl(signUpForm, 'password')) {
            {{ errorMessagesForControl(signUpForm, 'password') }}
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" required />
          @if (isInvalidControl(signUpForm, 'confirmPassword')) {
            {{ errorMessagesForControl(signUpForm, 'confirmPassword') }}
          }
        </mat-form-field>

        <mat-button-toggle-group [formControl]="roleSelectionControl" class="min-w-1/2">
          <mat-button-toggle value="ROLE_OWNER" class="w-full">Owner</mat-button-toggle>
          <mat-button-toggle value="ROLE_MECHANIC" class="w-full">Mechanic</mat-button-toggle>
        </mat-button-toggle-group>

        <button mat-flat-button class="w-full !bg-[#380800]">Register</button>
      </form>
    </div>


  </div>

</div>
