<div class="page">
  <div class="page-header">
    <h1 class="page-title">{{ 'assignments.assignmentsPage.title' | translate }}</h1>

    <div class="actions-toolbar">
      <app-create-assignment-button></app-create-assignment-button>
      <app-pending-assignments-button></app-pending-assignments-button>
    </div>
  </div>

  <div class="page-content">
    @if (store.loading()) {
      <div class="loading-state">
        <mat-spinner diameter="50" color="warn"></mat-spinner>
        <p>Loading assignments...</p>
      </div>
    } @else if (store.error()) {
      <div class="error-state">
        <p>{{ store.error() }}</p>
      </div>
    } @else {
      <app-assignment-card-list [assignments]="activeAssignments"></app-assignment-card-list>
    }
  </div>
</div>
