<div class="screen">
  <div class="header">
    <div class="left">
      <p>Active Assignments</p>
    </div>
    <div class="right">
      <div>
        <app-create-assignment-button></app-create-assignment-button>
      </div>
      <div>
        <app-pending-assignments-button></app-pending-assignments-button>
      </div>
    </div>
  </div>
  <div style="width: 100%;">
    @if (store.loading()) {
      <mat-spinner diameter="40"></mat-spinner>
    } @else if (store.error()) {
      <mat-error>{{ store.error() }}</mat-error>
    } @else {
      <app-assignment-card-list
        [assignments]="activeAssignments">
      </app-assignment-card-list>
    }
  </div>
</div>
