.exterior-card{
  background: #380800;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
  font-size: 20px;
}

.subscription-card{
  padding: 4px 20px;
  color: white;
  border-radius: 20px;
  background: #FF6B35;
}

.button {
  background-color: #FF0000 !important;
  color: white !important;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}

