<div class="min-h-screen flex items-center justify-center">
  <div class="flex">
    <div class="w-96 h-96 border rounded-2xl p-5 bg-[#ffede9] flex items-center justify-center">
      <div class="text-center">
        <p class="font-bold text-6xl pb-6">BykerZ</p>
        <img ngSrc="/assets/images/logo-bykerz.png" alt="Logo" width="180" height="100" />
        <div style="height: 30px"></div>
        <app-language-switcher></app-language-switcher>
      </div>
    </div>

    <div class="w-96 h-96 border rounded-2xl p-5 bg-[#ff6b35] flex items-center justify-center">
      <form [formGroup]="signInFormGroup" (ngSubmit)="signIn()"
            class="w-11/12 max-w-xs space-y-4 flex flex-col items-center ">
        <mat-form-field class="w-full ">
          <mat-label>{{'login.username'|translate}}</mat-label>
          <input matInput formControlName="username" required />
          @if (isInvalidControl(signInFormGroup, 'username')) {
            <mat-error>{{ errorMessagesForControl(signInFormGroup, 'username') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>{{'login.password'|translate}}</mat-label>
          <input matInput type="password" formControlName="password" required />
          @if (isInvalidControl(signInFormGroup, 'password')) {
            <mat-error>{{ errorMessagesForControl(signInFormGroup, 'password') }}</mat-error>
          }
        </mat-form-field>

        <button mat-flat-button class="w-full !bg-[#380800]" type="submit" [disabled]="signInFormGroup.invalid">{{'login.signIn'|translate}}</button>
        <button matButton routerLink="/selection" type="button">
          <p class="text-black">{{'login.signUp'|translate}}</p>
        </button>
      </form>
    </div>
  </div>
</div>
