<div class="container">
  @if (assignments.length === 0) {
    <div class="empty-state">
      <div class="icon-circle">📂</div>
      <p class="no-data-msg">{{ 'assignments.assignmentCardList.noAssignments' | translate }}</p>
    </div>
  }
  @if (assignments.length > 0) {
    <div class="assignments-grid">
      @for (assignment of assignments; track assignment.id) {
        <app-assignment-card
          [assignment]="assignment"
          class="grid-item"
        ></app-assignment-card>
      }
    </div>
  }
</div>
