<div class="exterior-card" (click)="redirectToDetails()">
  <div class="inner-card">
    <div class="row">
      <div class="left">
        <p>Link details:</p>
      </div>
      <div class="right">
        <p>{{assignment.id}}</p>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p>Owner's name:</p>
      </div>
      <div class="right">
        <p>{{assignment.owner?.completeName}}</p>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p>Number of motorcycles:</p>
      </div>
      <div class="right">
        <p>{{assignment.assignmentCode}}</p>
      </div>
    </div>
  </div>
</div>
