<div class="exterior-card" (click)="redirectToDetails()">
  <div class="inner-card">
    <div class="row">
      <div class="left">
        <p>{{ 'assignments.assignmentCard.assignmentType' | translate }}:</p>
      </div>
      <div class="right">
        <p>{{formattedType}}</p>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p>{{ 'assignments.assignmentCard.assignmentCode' | translate }}:</p>
      </div>
      <div class="right">
        <p>{{assignment?.assignmentCode}}</p>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p>{{ 'assignments.assignmentCard.ownerName' | translate }}:</p>
      </div>
      <div class="right">
        <p>{{assignment?.owner?.completeName}}</p>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <p>{{ 'assignments.assignmentCard.assignedOn' | translate }}:</p>
      </div>
      <div class="right">
        <p>{{formattedDate}}</p>
      </div>
    </div>
  </div>
</div>
