mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.straight-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.straight-line img {
  max-height: 40px;
  width: auto;
  margin-left: 10px;
}

.white-line {
  background-color: white;
  width: 100%;
  height: 5px;
  border-radius: 10px;
}

.straight-line mat-form-field {
  margin-left: 20px;
  margin-right: 20px;
}
