<mat-card [routerLink]="['/vehicle',vehicle.id,'mechanic']">
  <mat-card-content>
    <div class="horizontal">

      <div class="vertical item">
        <h1>{{ vehicle.model?.brand }} - {{ vehicle.model?.name }}</h1>

        <!-- Icono de notificaciones para este vehículo -->
        <app-notification-list [vehicleId]="vehicle.id"></app-notification-list>


        <div class="white-box">
          <div class="data-row">
            <span><b>{{ 'assignments.assignVehicleCard.modelYear' | translate }}:</b></span>
            <span>{{ vehicle.model?.modelYear }}</span>
          </div>

          <div class="data-row">
            <span><b>{{ 'assignments.assignVehicleCard.plate' | translate }}:</b></span>
            <span>{{ vehicle.plate }}</span>
          </div>

          <div class="data-row">
            <span><b>{{ 'assignments.assignVehicleCard.type' | translate }}:</b></span>
            <span>{{ vehicle.model?.type }}</span>
          </div>

          <div class="data-row">
            <span><b>{{ 'assignments.assignVehicleCard.brandOrigin' | translate }}:</b></span>
            <span>{{ vehicle.model?.originCountry }}</span>
          </div>

          <div class="data-row">
            <span><b>{{ 'assignments.assignVehicleCard.producedAt' | translate }}:</b></span>
            <span>{{ formatDate(vehicle.model?.producedAt!) }}</span>
          </div>

          <div class="data-row">
            <span><b>{{ 'assignments.assignVehicleCard.displacement' | translate }}:</b></span>
            <span>{{ vehicle.model?.displacement }}</span>
          </div>

          <div class="data-row">
            <span><b>{{ 'assignments.assignVehicleCard.octane' | translate }}:</b></span>
            <span>{{ vehicle.model?.octane }}</span>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
