<mat-card [routerLink]="['/vehicle',vehicle.id]">
  <mat-card-content>
    <div class="horizontal">

      <div class="vertical item">
        <h1>{{ vehicle.model?.brand }} - {{ vehicle.model?.name }}</h1>

        <!-- Icono de notificaciones para este vehículo -->
        <app-notification-list [vehicleId]="vehicle.id"></app-notification-list>


        <div class="white-box">
          <div class="data-row">
            <span><b>Model Year:</b></span>
            <span>{{ vehicle.model?.modelYear }}</span>
          </div>

          <div class="data-row">
            <span><b>Plate:</b></span>
            <span>{{ vehicle.plate }}</span>
          </div>

          <div class="data-row">
            <span><b>Type:</b></span>
            <span>{{ vehicle.model?.type }}</span>
          </div>

          <div class="data-row">
            <span><b>Brand Origin:</b></span>
            <span>{{ vehicle.model?.originCountry }}</span>
          </div>

          <div class="data-row">
            <span><b>Produced At:</b></span>
            <span>{{ formatDate(vehicle.model?.producedAt!) }}</span>
          </div>

          <div class="data-row">
            <span><b>Displacement:</b></span>
            <span>{{ vehicle.model?.displacement }}</span>
          </div>

          <div class="data-row">
            <span><b>Octane:</b></span>
            <span>{{ vehicle.model?.octane }}</span>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
