<mat-card>
  <mat-card-content>
    <div class="horizontal">
      <img class="item" ngSrc="/assets/images/vehicle.png" height="104" width="204" alt=""/>

      <div class="vertical item">
        <h1>{{ vehicle.model?.brand }} - {{ vehicle.model?.name }}</h1>
        <div class="white-box">
          <b>Model Year:</b> {{vehicle.model?.modelYear}}<br>
          <b>Plate:</b> {{vehicle.plate}}<br>
          <b>Type:</b> {{vehicle.model?.type}}<br>
          <b>Brand Origin:</b> {{vehicle.model?.originCountry}}<br>
          <b>Produced At:</b> {{vehicle.model?.producedAt}}<br>
          <b>Displacement:</b> {{vehicle.model?.displacement}}<br>
          <b>Octane:</b> {{vehicle.model?.octane}}
        </div>
      </div>

      <div class="item" style="height: 200px; background-color: white; width: 1%; border-radius: 10px"></div>

      <div class="item">
        <h2>Associated with: </h2>
      </div>

      <img class="selection-arrow" style="margin-left: 10px" [routerLink]="['/vehicle',vehicle.id]" ngSrc="/assets/images/selection_arrow.png" height="68" width="39" alt="">
    </div>
  </mat-card-content>
</mat-card>
