h1 {
  color: white;
}

h2 {
  color: white;
}

mat-card {
  min-height: 22vh;
  display: flex;
  justify-content: center;
}

.horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.item {
  margin-left: 20px;
  margin-right: 20px;
}

.white-box {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.selection-arrow {
  cursor: pointer;
}
