<mat-card >

  <div class="notification-corner">
    <app-notification-list [vehicleId]="vehicle.id"></app-notification-list>
  </div>

  <mat-card-content [routerLink]="['/vehicle',vehicle.id]">
    <div class="horizontal">
      <img class="item" ngSrc="/assets/images/vehicle.png" height="104" width="204" alt=""/>

      <div class="vertical item">
        <h1>{{ vehicle.model?.brand }} - {{ vehicle.model?.name }}</h1>




        <div class="white-box">
          <div class="data-row">
            <span><b>Model Year:</b></span>
            <span>{{ vehicle.model?.modelYear }}</span>
          </div>

          <div class="data-row">
            <span><b>Plate:</b></span>
            <span>{{ vehicle.plate }}</span>
          </div>

          <div class="data-row">
            <span><b>Type:</b></span>
            <span>{{ vehicle.model?.type }}</span>
          </div>

          <div class="data-row">
            <span><b>Brand Origin:</b></span>
            <span>{{ vehicle.model?.originCountry }}</span>
          </div>

          <div class="data-row">
            <span><b>Produced At:</b></span>
            <span>{{ formatDate(vehicle.model?.producedAt) }}</span>
          </div>

          <div class="data-row">
            <span><b>Displacement:</b></span>
            <span>{{ vehicle.model?.displacement }}</span>
          </div>

          <div class="data-row">
            <span><b>Octane:</b></span>
            <span>{{ vehicle.model?.octane }}</span>
          </div>
        </div>
      </div>

      <span class="item" style="display: inline-block;height: 200px; background-color: white; width: 1%; border-radius: 10px"></span>

      <div class="item">
        <h2>Associated with: {{ownerAssignment?.mechanic?.completeName || "Unknown"}}</h2>
      </div>

      <img class="selection-arrow" style="margin-left: 10px" ngSrc="/assets/images/selection_arrow.png" height="68" width="39" alt="">
    </div>
  </mat-card-content>
</mat-card>
