<div class="screen">
  <div class="header">
    <div class="left">
      <p>{{assignment?.owner?.completeName}} assigment</p>
    </div>
    <div class="right">
      <p style="font-size: 16px; font-weight: bold">Code:</p>
      <div class="assigment-code">
        <p>{{assignment?.assignmentCode}}</p>
      </div>
      <p style="font-size: 16px; font-weight: bold">Type:</p>
      <div>
        <app-assignment-type-selector [assignmentType]="assignment?.type" (typeChanged)="handleTypeChange($event)"></app-assignment-type-selector>
      </div>
    </div>
  </div>
  <div style="width: 100%;">
    <p style="font-weight: bold; font-size: 18px;">Associated motorbikes:</p>
    <div class="vehicle-grid">
      @for (vehicle of vehicles; track vehicle.id) {
        <app-assign-vehicle-card [vehicle]="vehicle"></app-assign-vehicle-card>
      }
    </div>
  </div>
</div>
