.screen{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px;
  gap: 40px;
  background-color: #ffffff;
}

.left{
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

.vehicle-grid {
  display: grid;
  width: 100%;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  justify-items: center;
  align-items: stretch;
  margin-top: 32px;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.assigment-code{
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  padding: 10px 16px;
  color: white;
  background-color: #FF6B35;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}

app-assign-vehicle-card {
  opacity: 0;
  animation: appear;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

app-assign-vehicle-card:nth-child(n) {
  animation-delay: calc((var(--i) * 0.1s));
}

@keyframes appear {
  0%{opacity: 0}
  50%{transform: translateY(10px)}
  100%{opacity: 100%}
}
