<div class="notification-wrap">
  <button class="icon-btn" (click)="toggle($event)" aria-label="Notificaciones">
    <p>{{ 'assignments.pendingAssignmentsButton.title' | translate }}</p>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 -960 960 960" fill="white"><path d="M480-344 240-584l56-56 184 184 184-184 56 56z"/></svg>
  </button>
  @if (open) {
    <app-pending-assignments-dropdown class="dropdown-host" [assignments]="pendingAssignments"></app-pending-assignments-dropdown>
  }
</div>
