.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}

app-vehicle-card {
  margin: 1rem;
  width: 60%;
}

.add-button-container {
  color: white;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.add-button-container button[matFab] {
  width: 80px;
  height: 80px;
}

#no-vehicles-text {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: gray;
}

#no-vehicles-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
