.navbar-button {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  margin: 14px 24px;
  cursor: pointer;
}

.navbar-button:hover {
  opacity: 0.7;
}

.sign-out-btn{
  padding: 5px 10px;
  border: 1px solid #ffffff;
  font-size: 18px;
  border-radius: 16px;
}
