.screen{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: #ffffff;
}

.left{
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.code{
  padding: 10px 40px ;
  color: white;
  background-color: #FF6B35;
  border-radius: 20px;
}

.notification{
  padding: 20px;
  color: white;
  background-color: #FF6B35;
  border-radius: 20px;
}
