
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

app-vehicle-card {
  @include mat.card-overrides((
    elevated-container-color: #FF6B35,
  ));
}

app-vehicle-details-page {
  @include mat.card-overrides((
    elevated-container-color: #FF6B35,
  ));
}

app-vehicles-page {
  @include mat.fab-overrides((
    container-color: #380800,
  ));
}

app-register-vehicle-dialog {
  @include mat.button-overrides((
    filled-container-color: #FF6B35,
    filled-disabled-container-color: #9e4324,
  ))
}

app-sign-in {
  @include mat.form-field-overrides((
    filled-container-color: #ffffff,
    filled-input-text-color: #000000,
    filled-label-text-color: #000000,
    filled-focus-label-text-color: #000000,
    filled-disabled-container-color: #f3f3f3,
    filled-disabled-label-text-color: #9e9e9e
  ))
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: #130100,
    container-text-color: white,
  ));
  @include mat.button-toggle-overrides((
    background-color: white,
    selected-state-background-color: #FF6B35,
    shape: 8px,
  ));
  @include mat.dialog-overrides((
    container-color: #130100,
    supporting-text-color: white,
  ));
  @include mat.select-overrides((
    panel-background-color: #FF6B35,
    enabled-trigger-text-color: white,
  ));
  @include mat.form-field-overrides((
    filled-container-color: #FF6B35,
    filled-input-text-color: white,
    filled-disabled-container-color: #9e4324,
    filled-disabled-label-text-color: white,
    filled-label-text-color: white,
    filled-focus-label-text-color: white,
    select-disabled-option-text-color: white,
    select-option-text-color: white,
    filled-focus-active-indicator-color: white,
    enabled-select-arrow-color: white,
    disabled-select-arrow-color: white
  ));
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
