<div class="screen">
  <div class="header">
    <div class="left">
      <p>Mechanic Dashboard</p>
    </div>
    <div class="right">

    </div>
  </div>
  <div class="grid-container">
    <div style="grid-area: box-1" class="orange-box">
      <div class="box-header">
        <p>Active Subscriptions</p>
      </div>
      <div class="box-content assignments">
        @for (assignment of mechanicAssignments(); track assignment.id) {
          <div class="white-box assignment-card" [routerLink]="['/assignments',assignment.id]">
            <mat-icon>person</mat-icon><p>{{assignment.owner?.completeName}}</p>
          </div>
        }
      </div>
    </div>
    <div style="grid-area: box-2" class="orange-box">
      <div class="box-header">
        <p>Current Memberships</p>
      </div>
      <div class="box-content">
        <div class="white-box membership">
          <p>Membership: Black</p>
          <p>Remaining Time: 36d 15hrs 36mins</p>
        </div>
      </div>
    </div>
    <div style="grid-area: box-3" class="orange-box">
      <div class="box-header">
        <p>Upcoming Maintenances</p>
      </div>
      <div class="box-content maintenances">
        @for (maintenance of mechanicMaintenances(); track maintenance.id) {
          <div class="white-box maintenance-card" [routerLink]="['/maintenances','mechanic']">
            <mat-icon>calendar_month</mat-icon><p>{{maintenance.dateOfService}} | {{getVehicleById(maintenance.vehicleId)()?.owner?.completeName}} | {{getVehicleById(maintenance.vehicleId)()?.model?.name}}</p>
          </div>
        }
      </div>
    </div>
  </div>
</div>
